    html, body {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }

    body {
      /*background: linear-gradient(to right, #366775 0%, #366775 0%, #366775 33%, #F7D0CB 33%, #F7D0CB 66%, #366775 66%, #366775 100%);*/
      background: #366775;
      background-size: 100% 100%;
      padding-left: 20px;
    }


    h2 {
      text-align: center;
      font-size: 14px;
    }

    button {
      margin: auto;
      margin-top: 10px;
      padding: 12px 28px;
      border: 1px solid #a2b4c0; 
      border-radius: 10px;
      background: #D66D50;
      color: white;
      cursor: pointer;
      outline: none;
      font-size: 16px;
      text-align: center;
    }
    
    /*fix this so we have a click button and a drop down button*/
    button:active {
      background-color: #e7e7e7;
    }
   
    .main-banner {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 30%;
      /*margin-right: auto;
      margin-left: auto;*/
      /*height: 90%;*/
      max-width: 500px;
      background: #f7d0cb;
    }
    
    /*.main-banner > div {
      flex: 1;
      display: inline-block;
    }*/

    .dropbtn {
      /*color: white;
      padding: 16px;
      font-size: 16px;*/
      background-color: #F4AC94;
      border: none;
      border-radius: 0px;
      /*cursor: pointer;*/
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      border: white;
      position: absolute;
      background-color: white;
      min-width: 160px;
      padding: 12px 16px;
      z-index: 1;
      box-shadow: 2px 2px 3px grey;
    }

    .dropdown-item {
      text-decoration: none;
      border: none;
      font-size: 16px;
      /*background-color: white;*/

    }

    .dropdown-item:hover {
      border: none;
      background-color: #f1f1f1;
      cursor: pointer;
    }

    .dropdown:hover .dropdown-content {
      display: flex;
      flex-direction: column;
    }

    .dropdown:hover .dropbtn {
      background-color: #f7d0cb;
    }

    #topCardView {
      margin-top: 10px;
      margin-bottom: 10px; 
      /*text-align: center;*/
      /*height: 50px;*/
      width: 500px;
      /*border: 3px solid white;*/
      background: #f7d0cb;
      /*padding: 17px;*/
      font-size: 18px;
    }

    #resultsRecyclerView {
      /*margin: auto;*/
      height: 100%;
      width: 500px;
      /*border: 3px solid white;*/
      background: #f7d0cb;
      display: flex;
      flex-direction: column;
    }

    .restaurant-item {
      background: #F4AC94;
      /*padding: 1px;*/
      margin-bottom: 10px;
      margin-top: 10px;
      flex: 1;
      /*height: 200px;*/
    }

    .restaurant-item div {
      display: inline-flex;
      flex-direction: column;
    }

    #left-details-container {
      width: 30%;
    }

    #right-details-container {
      width: 70%;
    }

    .details { 
      font-size: 14px;
      margin-inline-start: 15px;
      margin-inline-end: 15px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .title-hr {
      margin-inline-start: 15px;
      margin-inline-end: 15px;
      border: 0.3px solid #D66D50;
    }

    #name-detail {
      margin-inline-start: 15px;
      font-size: 18px;
      color: #366775;
    }

    #otherOptionsView {
      height: 50px;
      width: 300px;
      background: #f7d0cb;
      border-radius: 5px;
      /*border: 3px solid white;*/
    }

    #refresh {
      margin: auto;
      margin-top: 10px;
      padding: 12px 28px;
      border: 1px solid #a2b4c0; 
      border-radius: 10px;
      background: #D66D50;
      color: white;
      cursor: pointer;
      outline: none;
      font-size: 16px;
      text-align: center;
    }

    #map {
      display: none;
    }
